@mixin borderBox(){
    border: 1px solid black;
  }
  

.App {
    text-align: center;
  }

.book-container{
    @include borderBox();
    width: 80%;
    cursor: pointer;
    margin: 10px auto;
    padding: 15px;
}
  