@mixin borderBox(){
    border: 1px solid black;
  }

  @mixin linkBox($padding){
    cursor: pointer;
    margin: 10px auto;
    padding: $padding;
  }
  

.App {
    text-align: center;
  }

.book-container{
    @include borderBox();
    width: 80%;
    @include linkBox(15px);

}

.button-container{
  width: 100px;
  @include borderBox();
  @include linkBox(10px);
  
}
  